<!DOCTYPE html>
<html>
    <style>
        table, th, td {
          border:1px solid black;
        }
    </style>




    <body>
        <p>Dense reconstruction executed successfully</p>
        <p>PSNR =    7.830579425</p>
        <p>SSIM =    0.341597634</p>



        <form action="/mesh_execute/return">
            <button type="submit">Return</button>
           </form>
           
        <form action="/mesh_execute/download_file_mesh">
            <button type="submit">Download meshed file</button>
        </form>
    



    </body>
</html>